backend/n8n_workflows/create_video_sora_tool.json
{
  "name": "Create Video Tool (Sora)",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "prompt"
            },
            {
              "name": "chatID"
            },
            {
              "name": "videoTitle"
            },
            {
              "name": "aspectRatio"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -672,
        96
      ],
      "id": "86f5fce2-5c5f-46e1-bb44-bd974bc48840",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/jobs/recordInfo",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $json.data.taskId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -128,
        96
      ],
      "id": "ec5e1e22-c370-4bd2-9759-4299332ad6dc",
      "name": "Get Result",
      "credentials": {
        "httpHeaderAuth": {
          "id": "hG1UKwcbFnmtNIPu",
          "name": "Kie ai"
        }
      }
    },
    {
      "parameters": {
        "name": "={{ $('When Executed by Another Workflow').item.json.videoTitle }}.mp4",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1YCGwbzPHcEvDv6pVxf1ZltGYOTKmwFr-",
          "mode": "list",
          "cachedResultName": "Media",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1YCGwbzPHcEvDv6pVxf1ZltGYOTKmwFr-"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        560,
        240
      ],
      "id": "f1f6cbd2-d97d-4f18-9640-2d52b8ec0b7c",
      "name": "Upload Video",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "BCtDYeaq5ZtIvBFy",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ JSON.parse($json.data.resultJson).resultUrls[0] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        272,
        96
      ],
      "id": "c12c632b-9c83-443d-befa-3358f227d3d9",
      "name": "Download File"
    },
    {
      "parameters": {
        "operation": "sendVideo",
        "chatId": "={{ $('When Executed by Another Workflow').item.json.chatID }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        560,
        -16
      ],
      "id": "c038081c-8e31-4c72-94db-b1930ad81a33",
      "name": "Send Video",
      "webhookId": "8fcbda9c-8396-41f7-8f2d-39e4ae4337c7",
      "credentials": {
        "telegramApi": {
          "id": "MUA63vjV0hNiKPAH",
          "name": "Media Agent"
        }
      }
    },
    {
      "parameters": {
        "content": "# Trigger\n",
        "height": 260,
        "width": 212,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -720,
        0
      ],
      "id": "ef335ce9-123f-4195-8180-daaad0d111e2",
      "name": "Sticky Note5",
      "disabled": true
    },
    {
      "parameters": {
        "content": "# Generate Video\n\n",
        "height": 260,
        "width": 732,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -496,
        0
      ],
      "id": "8a72006d-d93e-4045-bfc4-c46ae6aca19a",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# Send Content",
        "height": 240,
        "width": 300,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        496,
        -96
      ],
      "id": "ea6ec0e5-7ea6-4dbd-959b-7ecbdfd66b3c",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "# Write to Drive",
        "height": 240,
        "width": 300,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        480,
        176
      ],
      "id": "6225c052-2d84-4cc6-b330-86336ad1bf5b",
      "name": "Sticky Note6"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        0,
        320
      ],
      "id": "f8180911-ec02-4d21-bd84-1489cc1acb90",
      "name": "5 Seconds",
      "webhookId": "5f6bbd1e-a155-48de-b737-a225c6fd7a84"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -304,
        96
      ],
      "id": "685de7bb-52de-49bc-ae2f-3eb408e5c5e4",
      "name": "120 sec",
      "webhookId": "caad73e3-58d8-4fbd-a3e9-c42424f2d1ee"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"sora-2-text-to-video\",\n  \"input\": {\n    \"prompt\": \"{{ $json.prompt }}\",\n    \"aspect_ratio\": \"landscape\",\n    \"n_frames\": \"10\",\n    \"remove_watermark\": true\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -448,
        96
      ],
      "id": "7a989348-7506-4d03-bd2b-0be22cc951f0",
      "name": "Generate video",
      "credentials": {
        "httpHeaderAuth": {
          "id": "hG1UKwcbFnmtNIPu",
          "name": "Kie ai"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "84098895-ea16-4799-b131-e5859ca0dfdc",
              "leftValue": "={{ $json.data.resultJson }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        80,
        96
      ],
      "id": "b1d72e19-b4c5-4a1e-ad36-f9ca1c0e5237",
      "name": "If"
    }
  ],
  "pinData": {},
  "connections": {
    "Get Result": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Send Video",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upload Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Generate video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5 Seconds": {
      "main": [
        [
          {
            "node": "Get Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "120 sec": {
      "main": [
        [
          {
            "node": "Get Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate video": {
      "main": [
        [
          {
            "node": "120 sec",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "5 Seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d9f26d73-b600-498b-81c6-28fb05d0589a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "90dd83a827cbf7c2f7fdc45fa53d656d177f68c143ce6b0d0dcb2995d9802e21"
  },
  "id": "pxtBNQlfn16ZWE5g",
  "tags": []
}
